
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.666;
    background: #050606de;
    color: #6f6969;
  }
  
  h1 {
    font-weight:300;
    font-size: 300%;
    text-align: center;
    margin-top: 4rem;
    color: #fff;
    line-height: 1.2;
  }
  
  h1 span {
    padding: 5px 15px;
    
  }
  
  .dict {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 90%;
  }
  
  .dict > Link  >.term {
    text-align: center;
    max-width: 25rem;
    margin : 1rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  
  
  .dict > Link> .term > dt {
    margin-right: 20rem;
    padding: 5px; 
}

  
  dt {
    color: #cbbcbc;
    line-height: 1;
  }
  
  dt span {
    font-size: 100%;
    font-weight: 300;
  }
  
  .emoji {
    margin: 0 auto 20px;
    display: block;
    font-size: 400%;
  }
  
  dd {
    font-size: 150.5%;
    font-weight: 900;
    color: black;
    font-family: normal;
  }
  
  dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
  }
  
  dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;

  }
  
  dd dl .term {
    margin-bottom: 1rem;
  }

  .round-img {
  border-radius: 5%;
  border: 7px solid #fff;
  width: 369px;
  height: 300px;
  margin-top: 0;

}
.cricle-img {
  border-radius: 10000%;
  border: 7px solid #fff;
  width: 50px;
  height: 50px;
}
.new {
  display : flex;
  color :rgba(128, 128, 128, 0.833);
  justify-content:space-between;
  font-size: 20px;
}
.sd{
  margin-top: 1rem;

}

.prps-name{
  border : 1px solid rgb(255, 255, 255);
  border-radius: 20% ;
  color:#717ef0;
  background-color: #f8f7f7;
  margin : 2rem;
  padding: 0.2rem;

}
/* Scoped styles for Entry component */

